$font-color: #790600;
$font-cater: #faa419;
$white: #ffffff;
$background: url("../images/menu-background.png");
$footer: url("../images/bottom-background.png");
$footer-font-color: #dd671f;

body {
  border: 0;
  padding: 0;
  margin: 0;
}

#banner {
  width: 100%;
  height: 25px;
  background-color: $font-color;
}

.navbar {
  background-color: $white !important;
  .navbar-brand {
    height: 70px;
    width: 90px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .nav-link {
    text-transform: uppercase;
    color: $font-color !important;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 20px;
  }
}

#carouselContainer {
  #outer-border {
    position: absolute;
    top: 35%;
    left: 40%;
    z-index: 1;
    height: 180px;
    width: 200px;
    border: 4px solid $white;
    border-radius: 80px;
    #inner-circle {
      height: 169px;
      width: 189px;
      background-color: rgba(255, 255, 255, 0.83);
      border-radius: 80px;
      margin: 2px auto;
      padding: 20px auto;
      p {
        position: absolute;
        top: 45%;
        left: 20%;
        color: $font-color;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 3px;
      }
    }
  }
  .carousel-inner {
    height: 600px; // mq issue
    .carousel-item {
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

#menu-links-container {
  height: 60px;
  ul {
    margin-top: 20px;
    .nav-item {
      margin-right: 3%;
      a {
        color: $font-color;
        font-weight: 500;
        letter-spacing: 2px;
      }
    }
  }
}

.menu {
  height: 700px; //mq
  background-image: $background;
  background-size: cover;
  #menu-items-list {
    width: 60%;
    border-bottom: 1px solid grey;
  }
}

#cater {
  height: 450px; // mq
  background-color: $white;
  padding-top: 6%; // mq
  #info {
    h3 {
      text-align: center;
    }
    hr {
      height: 3px;
      width: 80px;
      background-color: $font-cater;
    }
    p {
      margin-top: 40px; //mq
    }
  }
}

footer {
  background-image: $footer;
  background-size: cover;
  height: 400px;
  padding-top: 6%;
  .container {
    .row {
      text-align: center;
      color: $footer-font-color;
      #contact {

        p, .fas {
          color: #707070;
        }
        .btm-bdr {
          margin-bottom: 0;
        }
      }
      #hours {
        @extend #contact;
      }
      #map {
        border: 1px solid $footer-font-color;
        padding: 0;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
